<!DOCTYPE html>
<html>
    <head>
        
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Temazcal</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
        
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WS6TLCS');</script>
<!-- End Google Tag Manager -->
        
        <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '292462944425266');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=292462944425266&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WS6TLCS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        <header>
            <h2><a href="#">Temazcal</a></h2>
            <nav>
                <li><a href="/">Languages</a></li>
                <li><a href="#paquete">Package</a></li>
                <li><a href="#contacto">Contact</a></li>
            </nav>
        </header>

        <section class="hero">
            <div class="background-image" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087267/main_rpc9lf.jpg);"></div>
            <div class="hero-content-area">
                <h1>Temazcal</h1>
                <h2>AMATLÁN</h2>
                <h3>Immerse into the ritual</h3>
                
                <h4>Next event: December 8</h4>
                <a href="#contacto" class="btn">Contact Us</a>
            </div>
        </section>

        <section class="destinations">
            <a name="viajes"></a>
            <h3 class="title"> Temazcal (from náhuatl Temazcalli): steam house </h3>
            <p>The Temazcal is an ancestral tradition in Mexico ... it is the gateway to many ceremonies and traditions since time immemorial. The Temazcal represents the womb of Mother Earth, in which her children have the opportunity to return, so they can be "born again" and thus cure their lineage and take strength from the mother of everything. The Temazcal ritual consists of 4 doors or stages, in each of them you will work your specific connection with one of the elements and the directions: Air, fire, water, earth ... north, south, east and west ... spiritual ancestors and mother earth. All these elements come to the Temazcal ceremony to purify not only the body through sweating but the spirit and mind through resistance to heat, intention, and song.</p>
            <hr/>

            <ul class="grid">
                <li class="small" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087776/temazcal1_ds2wje.jpg);"></li>
                <li class="large" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087774/temazcal2_i3cbgk.jpg);"></li>
                <li class="large" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087790/temazcal3_iuqwbg.jpg);"></li>
                <li class="small" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087773/temazcal4_mgs2nq.jpg);"></li>
            </ul>
        </section>
        
        <section class="destinations">
           
            <h3 class="title"> Amatlán </h3>
            <p>Amatlán is a town located 15 minutes from Tepoztlán, is known because of its beautiful mountains and because according to the tradition this was the place where the hero and god Quetzalcóatl was born. For that reason, this place was visited to practice spiritual and connection rituals. Amatlán in the present days is a place that is not so touristic and keeps some strong ancestral traditions.</p>
            <hr/>

            <ul class="grid">
                <li class="small" style="background-image: url(https://res.cloudinary.com/davidcalderon/image/upload/v1540256998/Amatlan-de-quetzalcoatl-dos.jpg);"></li>
                <li class="large" style="background-image: url(https://res.cloudinary.com/davidcalderon/image/upload/v1540256910/Amatlan-de-quetzalcoatl.jpg);"></li>
            </ul>
        </section>

        <section class="packages">
            <a name="paquete"></a>
            <h3 class="title">What is included?</h3>
            <p>Transportation to Amatlán, cosmovision talk, guided meditation for inner conection, traditional Temazcal ritual, vegetarian food, transportation back to Mexico City.</p>
            <hr>

            <ul class="grid">
                <li>
                    <i class="fa fa-compass fa-4x"></i>
                    <h4>Amatlán</h4>
                    <p>We will leave the city early, we will arrive at Amatlán at approximately 11 am, then we will give some minutes for the people to have a quesadilla (Ana´s place, the best), after that we will walk to Quetzalcoatl's door and near that place do the meditation, then go to the Temazcal (one hour) and have a vegetarian meal. We recommend wearing a cap, sunscreen, and water.</p>
                </li>
                <li>
                    <i class="fas fa-utensils fa-4x"></i>
                    <h4>Vegetarian meal and snack</h4>
                    <p>It does not matter if you're vegetarian or not, we promise that this will be one of the yummiest and healthiest foods you'll taste.</p>
                </li>
                <li>
                    <i class="fas fa-book-open fa-4x"></i>
                    <h4>Temazcal</h4>
                    <p>With us to guide the ritual will be an expert Chaman with more than ten years of experience in Mexico, and some special occasions will be guided by the grandmother, grandma (It's traditionally called "abuelita" because these women have been doing this ritual for more than 30 years.</p>
                    <p>The Temazcal is a ceremony that must be respected for how much it represented and represents for the culture and for the people who still practice it. This is a spiritual work, be open to experience. You must know that the Temazcal reaches high temperatures, so at any time you may go out if you need it, we only ask for total respect. Enjoy, the experience is strong but bearable and helps to purify, connect, and know more about the Mexican Cosmovision.</p>
                </li>
                <li>
                    <i class="fas fa-hand-holding-usd fa-4x"></i>
                    <h4>Price and details</h4>
                    <p>The price of the package is <strong>$790 Mexican pesos / 41 USDs.</strong> 
                    Includes everything mentioned above: Transport from CDMX and back, cosmovision talk, meditation, Temazcal ritual, vegetarian meal.
                    <strong>We start picking up at 7:00 am and leave CDMX 9:00 am and return between 18:30 and 19:30.</strong> Please be flexible in return times because of the traffic.
                    The pick-up places are:</p>
                  
                    <p><a href="https://goo.gl/maps/u4KJwztkQb92"><i class="fas fa-map"></i></a> 1.- Entrance to Forum Buenavista, from 7:00 to 7:20 am.</p>                  
                    <p><a href="https://goo.gl/maps/Y5j7TTZh9s62"><i class="fas fa-map"></i></a> 2.- CDMX letters on "Fuente de Cibeles", from 7:40 to 8:00 am.</p>
                    <p><a href="https://goo.gl/maps/Pnt1TsC9iWm"><i class="fas fa-map"></i></a>
                    3.- "Parque de República de Guatemala", infront of Hostel Mundo Joven, from 8:30 to 9:00 am.</p>
                    <p>--Click map for the link with the location.</p>
                </li>
            </ul>
        </section>

        <!--<section class="testimonials">-->
        <!--    <h3 class="title">Algunos de nuestros testimonios:</h3>-->
        <!--    <hr>-->
        <!--    <p class="quote">Descubrir a una persona maravillosa dentro de mi es la mejor satisfacción que me queda no solo un día, sino en cada paso, cada minuto, cada respiro que doy, me recuerda de donde vengo y para donde voy.</p>-->
        <!--    <p class="author">— Gabriela Caudillo</p>-->
        <!--    <p class="quote">Algunas personas usan su cuerpo como vehículo para ir a las juntas de trabajo. Es importante entrenar tu cerebro pero también es importante mantener un balance de salud corporal y espiritualidad (espiritualidad es conexión interior, no se refiere a religión). Gracias por la experiencia.</p>-->
        <!--    <p class="author">— Juan Castillo</p>-->
        <!--    <p class="quote">Al principio tenía mucho miedo por que no me gustan los espacios cerrados y pensé que el calor iba a ser demasiado fuerte para mi. Al final lo difruté muchísimo y ahora me siento con más fuerza y lista para nuevos retos. Chary fue un amor con nosotros al guiar el Temazcal.</p>-->
        <!--    <p class="author">— Gio Garcia</p>-->

        <!--</section>-->

        <section class="contact">
            <a name="contacto"></a>
            <h3 class="title">Would you like to come?</h3>
            
            
            <form id="enviarform" action="/client_info" method="post">
                <input type="text" placeholder="Name" name="name">
                <input type="email" id="form-correo" placeholder="Email" name="email">
                <input type="tel" placeholder="Phone" name="phone">
                <a class="btn" href="javascript:{}" onclick="document.getElementById('enviarform').submit();">Submit</a>
            </form>
            
            
            <hr>
            <p>Send us a WhatsApp or call us so we can talk about the benefits of Temazcal or clarify your doubts. <strong><a href="tel:5215538281174">Click to call (Mx Cell Phone Number) 55-3828-1174</a></strong></p>
            <hr>
            <p>If you are ready to immerse into the experience then <strong>save your spot</strong></p>
            
            <a mp-mode="dftl" href="https://www.mercadopago.com/mlm/checkout/start?pref_id=221639276-fd5e2562-c104-416f-83b5-0e0cf9dc6ff4" name="MP-payButton" class='blue-ar-l-rn-none'>Save my SPOT</a>
            <script type="text/javascript">
            (function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
            </script>

            
        </section>
        
           

        <footer>
            <p>Find us on Facebook or send us a mail to hola@temazcal.info</p><p>For urgent matters send us a whatsapp or call us to +5215538281174</p>
            <ul>
                <li><a href="https://www.facebook.com/vamosaltemazcal/"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                <!--<li><a href="https://www.youtube.com/channel/UCpd4KPYmVixK25d-Ab21vXw"><i class="fab fa-youtube-square fa-2x"></i></a></li>-->
            </ul>
        </footer>

    </body>
</html>