<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Temazcal</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
        
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WS6TLCS');</script>
<!-- End Google Tag Manager -->
        
        <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '292462944425266');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=292462944425266&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WS6TLCS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        <header>
            <h2><a href="#">Temazcal</a></h2>
            <nav>
                <li><a href="/">Idiomas</a></li>
                <li><a href="#paquete">Paquete</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </nav>
        </header>

        <section class="hero">
            <div class="background-image" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087267/main_rpc9lf.jpg);"></div>
            <div class="hero-content-area">
                <h1>Temazcal</h1>
                <h2>AMATLÁN</h2>
                <h3>Sumérgete en el antiguo ritual</h3>
                
                <h4>Siguiente evento: Diciembre 8</h4>
                <a href="#contacto" class="btn">Quiero asistir</a>
            </div>
        </section>

        <section class="destinations">
            <a name="paquete"></a>
            <h3 class="title"> Temazcal (del náhuatl Temazcalli): casa de vapor <a name=viajes></a> </h3>
            <p>El Temazcal es una tradición ancestral en México... es la puerta de entrada a muchas ceremonias y tradiciones desde tiempos inmemorables. El Temazcal representa el vientre de la madre tierra, en el cual sus hijos tienen la oportunidad de regresar para poder "volver a nacer" y así curar su linaje y tomar fuerzas de la madre de todo. El ritual del Temazcal consiste en 4 puertas o etapas, en cada una de ellas trabajarás tu conexión específica con uno de los elementos y de los rumbos. Aire, fuego, agua, tierra... norte, sur, este y oeste... ancestros espirituales y madre tierra. Todos estos elementos acuden a la ceremonia del Temazcal para purificar no sólo el cuerpo a través de la sudoración sino el espíritu y la mente a través de la resistencia al calor, la intención y el canto.</p>
            <hr/>

            <ul class="grid">
                <li class="small" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087776/temazcal1_ds2wje.jpg);"></li>
                <li class="large" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087774/temazcal2_i3cbgk.jpg);"></li>
                <li class="large" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087790/temazcal3_iuqwbg.jpg);"></li>
                <li class="small" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087773/temazcal4_mgs2nq.jpg);"></li>
            </ul>
        </section>
        
        <section class="destinations">
           
            <h3 class="title"> Amatlán </h3>
            <p>Amatlán de Quetzalcóatl es una comunidad localizada en el municipio de Tepoztlán, a quince minutos de la cabecera municipal (Tepoztlán), a hora y media de la ciudad de México y a treinta minutos de la ciudad de Cuernavaca, Morelos, México. 
Su nombre significa "lugar de los amates". Se dice que aquí nació el legendario héroe-dios Quetzalcóatl.
Amatlán de Quetzalcóatl se encuentra casi a 1,705 msnm, rodeado por montañas salvo por el suroeste. 
El lugar ofrece puntos de interés para los que gustan de largas caminatas por la naturaleza, entre los cuales encontramos: 
Cerro de la Puerta (telzacualli), Cerro de la Ventana, Cerro de la Fertilidad ( Tepexinola), Barranca del Tecolote (Tecoloatlahtli), 
Ameyalli Oztocuanamiquian (manantial de las dos piedras que se apoyan frente a frente), 
Paraje Machinco (lugar donde te sientas a descansar).</p>
            <hr/>

            <ul class="grid">
                <li class="small" style="background-image: url(https://res.cloudinary.com/davidcalderon/image/upload/v1540256998/Amatlan-de-quetzalcoatl-dos.jpg);"></li>
                <li class="large" style="background-image: url(https://res.cloudinary.com/davidcalderon/image/upload/v1540256910/Amatlan-de-quetzalcoatl.jpg);"></li>
            </ul>
        </section>

        <section class="packages">
            <h3 class="title">¿Qué incluye el paquete?</h3>
            <p>Transporte a Amatlán de Quetzalcoatl, charla de cosmovisión, meditación de conexión interior en la naturaleza, ritual de Temazcal tradicional, comida vegetariana, transporte de regreso a la ciudad de México.</p>
            <hr>

            <ul class="grid">
                <li>
                    <i class="fa fa-compass fa-4x"></i>
                    <h4>Amatlán de Quetzalcoatl</h4>
                    <p>Saldremos de la ciudad temprano, llegaremos a Amatlán aproximadamente a las 11 am, caminaremos a la puerta de Quetzalcóatl, después realizaremos una meditación de conexión interior en la naturaleza. Recomendamos llevar gorra, bloqueador solar y agua.</p>
                </li>
                <li>
                    <i class="fas fa-utensils fa-4x"></i>
                    <h4>Comida Vegetariana</h4>
                    <p>No importa si eres vegetariano o no, te prometemos que ésta será una de las comidas más ricas y saludables que probarás. Además después del Temazcal te daremos miel y fruta para que repongas la energía utilizada.</p>
                </li>
                <li>
                    <i class="fas fa-book-open fa-4x"></i>
                    <h4>Temazcal</h4>
                    <p>Con nosotros para correr el ritual estará un Chamán experto con más de diez años de experiencia en México. El temazcal es una ceremonia que debe ser respetada por lo mucho que representó y representa para la cultura y para las personas que aún lo practican. Debes saber que el Temazcal llega a temperaturas elevadas, en cualquier momento puedes salirte si lo necesitas, sólo pedimos respeto total. Disfruta, el calor es duro pero soportable y sirve para purificar, conectarnos y entender la cosmovisión antigua.</p>
                </li>
                <li>
                    <i class="fas fa-hand-holding-usd fa-4x"></i>
                    <h4>Precio y detalles importantes</h4>
                    <p>El paquete tiene un precio de <strong>$790 pesos mexicanos / 41 USDs.</strong> Incluye todo lo anteriormente mencionado: transporte desde CDMX y de regreso, charla de cosmovisión, meditación de conexión, ritual de Temazcal, comida vegetariana. Empezamos a recoger a la gente a las <strong>7:00 am frente a Forum Buenavista, después en la fuente de Cibeles a las 7:40 y en junto al Zócalo a las 8:30</strong> y regresamos a las <strong>19:00 cerca del Zócalo y posteriormente a los otros puntos</strong> Por favor consideren un posible atraso en el regreso por el tráfico.
                    Los lugares para tomar el transporte son:</p>
<p><a href="https://goo.gl/maps/u4KJwztkQb92"><i class="fas fa-map"></i></a> 1.- La entrada de Forum Buenavista, saliendo de los torniquetes del Suburbano a la derecha de 7:00 a 7:20 am.</p>                  
<p><a href="https://goo.gl/maps/Y5j7TTZh9s62"><i class="fas fa-map"></i></a> 2.- Las letras CDMX en la "Fuente de Cibeles" de 7:40 a 8:00 am.</p>
                    <p><a href="https://goo.gl/maps/Pnt1TsC9iWm"><i class="fas fa-map"></i></a>
                    3.- "Parque de República de Guatemala", en frente del Hostel Mundo Joven, de 8:30 a 9:00 am.</p>

                    <p>--Click en el mapita para las ubicaciones.</p>
                </li>
            </ul>
        </section>

        <!--<section class="testimonials">-->
        <!--    <h3 class="title">Algunos de nuestros testimonios:</h3>-->
        <!--    <hr>-->
        <!--    <p class="quote">Descubrir a una persona maravillosa dentro de mi es la mejor satisfacción que me queda no solo un día, sino en cada paso, cada minuto, cada respiro que doy, me recuerda de donde vengo y para donde voy.</p>-->
        <!--    <p class="author">— Gabriela Caudillo</p>-->
        <!--    <p class="quote">Algunas personas usan su cuerpo como vehículo para ir a las juntas de trabajo. Es importante entrenar tu cerebro pero también es importante mantener un balance de salud corporal y espiritualidad (espiritualidad es conexión interior, no se refiere a religión). Gracias por la experiencia.</p>-->
        <!--    <p class="author">— Juan Castillo</p>-->
        <!--    <p class="quote">Al principio tenía mucho miedo por que no me gustan los espacios cerrados y pensé que el calor iba a ser demasiado fuerte para mi. Al final lo difruté muchísimo y ahora me siento con más fuerza y lista para nuevos retos. Chary fue un amor con nosotros al guiar el Temazcal.</p>-->
        <!--    <p class="author">— Gio Garcia</p>-->

        <!--</section>-->

        <section class="contact">
            <a name="contacto"></a>
            <h3 class="title">¿Te gustaría asistir?</h3>
            
            <form id="enviarform" action="/client_info" method="post">
                <input type="text" placeholder="Nombre" name="name">
                <input type="email" id="form-correo" placeholder="Correo" name="email">
                <input type="tel" placeholder="Teléfono" name="phone">
                <a class="btn" href="javascript:{}" onclick="document.getElementById('enviarform').submit();">Enviar</a>
            </form>
            
            
            <hr>
            <p>Mándanos un WhatsApp o llámanos para que te podamos platicar los beneficios del Temazcal y aclarar tus dudas. <strong><a href="tel:5215538281174">Click para llamar (55) 3828-1174</a></strong></p>
            <hr>
            
            <p>Si estás listo para sumergirte en la experiencia entonces <strong>aparta tu lugar</strong></p>
            
           <a mp-mode="dftl" href="https://www.mercadopago.com/mlm/checkout/start?pref_id=221639276-fd5e2562-c104-416f-83b5-0e0cf9dc6ff4" name="MP-payButton" class='blue-ar-l-rn-none'>Apartar mi LUGAR</a>
            <script type="text/javascript">
            (function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
            </script>

            
        </section>

        <footer>
            <p>Encuéntranos en Facebook o mándanos un correo a hola@temazcal.info</p><p>Para asuntos urgentes mándanos un WhatsApp o llámanos al +5215538281174</p>
            <ul>
                <li><a href="https://www.facebook.com/vamosaltemazcal/"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                <!--<li><a href="https://www.youtube.com/channel/UCpd4KPYmVixK25d-Ab21vXw"><i class="fab fa-youtube-square fa-2x"></i></a></li>-->
            </ul>
        </footer>

    </body>
</html>